<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

	<hibernate-configuration>
		<session-factory>
			<!-- driver jdbc -->
			<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
			
			<!-- chaîne de connexion -->
			<property name="connection.url">jdbc:mysql://localhost:3306/bliss?autoReconnect=true</property>
			<property name="connection.username">root</property>
			<property name="connection.password">123</property>
			
			<!-- pool -->
			<property name="connection.pool_size">20</property>
			
			<!-- Dialect SQL -->
			<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
			
			<!-- Persistence -->
			<property name="current_session_context_class">thread</property>
			
			<!--  Afficher SQL -->
			<property name="show_sql">true</property>
			
			<!-- génération auto de la base -->
			<property name="hibernate.hbm2ddl.auto">update</property>
			
			<mapping class="com.bliss.metier.Utilisateur"/>
			<mapping class="com.bliss.metier.Machine"/>
			<mapping class="com.bliss.metier.Salle"/>
			<!-- <mapping class="com.bliss.metier.Parc"/> -->
		</session-factory>
	</hibernate-configuration>